extends ../layout
block content
	link(href='css/admin.css',rel='stylesheet')
	extends ../includes/adminHeader
	div(class='admin')
		ul(class='adminList')
			li
				span [独家V观]习近平：党政干部要学柳青 接地气
				div(class='newsMenu')
					input(type='button',value='编辑',onclick='window.location.href="adminEdit"')
					input(type='button',value='删除')
			li
				span [独家V观]习近平：党政干部要学柳青 接地气
				div(class='newsMenu')
					input(type='button',value='编辑',onclick='window.location.href="adminEdit"')
					input(type='button',value='删除')
			li
				span [独家V观]习近平：党政干部要学柳青 接地气
				div(class='newsMenu')
					input(type='button',value='编辑',onclick='window.location.href="adminEdit"')
					input(type='button',value='删除')
			li
				span [独家V观]习近平：党政干部要学柳青 接地气
				div(class='newsMenu')
					input(type='button',value='编辑',onclick='window.location.href="adminEdit"')
					input(type='button',value='删除')
			li
				span [独家V观]习近平：党政干部要学柳青 接地气
				div(class='newsMenu')
					input(type='button',value='编辑',onclick='window.location.href="adminEdit"')
					input(type='button',value='删除')
			li
				span [独家V观]习近平：党政干部要学柳青 接地气
				div(class='newsMenu')
					input(type='button',value='编辑',onclick='window.location.href="adminEdit"')
					input(type='button',value='删除')
			li
				span [独家V观]习近平：党政干部要学柳青 接地气
				div(class='newsMenu')
					input(type='button',value='编辑',onclick='window.location.href="adminEdit"')
					input(type='button',value='删除')
			li
				span [独家V观]习近平：党政干部要学柳青 接地气
				div(class='newsMenu')
					input(type='button',value='编辑',onclick='window.location.href="adminEdit"')
					input(type='button',value='删除')
			li
				span [独家V观]习近平：党政干部要学柳青 接地气
				div(class='newsMenu')
					input(type='button',value='编辑',onclick='window.location.href="adminEdit"')
					input(type='button',value='删除')
			li
				span [独家V观]习近平：党政干部要学柳青 接地气
				div(class='newsMenu')
					input(type='button',value='编辑',onclick='window.location.href="adminEdit"')
					input(type='button',value='删除')