link(href='css/header.css',rel='stylesheet')
link(href='css/common.css',rel='stylesheet')
script(href='js/jquery-3.2.1.min.js')
div(class='top')
	div(class='titleBar') 
		div(class='titleBarMiddle')
			h1 #{listTitle}
	block content