extends ../layout
block content
	link(href='css/index.css',rel='stylesheet')
	extends ../includes/header
	div(class='main') 
		ul(class='indexList')
			li
				div(id='list_info') 
					h1 [独家V观]习近平：党政干部要学柳青 接地气
					p ​习近平同志19日上午参加党的十九大贵州省代表团讨论。遵义市播州区枫香镇花茂村党总支书记潘克刚回忆了2015年6月16日总书记在花茂村考察时讲到的党的政策好不好，要看乡亲们是哭还是笑。习近平说：“这句话是作家柳青说的，柳青跟老百姓融入一起、打成一片，中央的文件下来了，他都知道房东老大娘是哭还是笑。”党政干部也要学柳青，接地气 。
					a(href='details')阅读全文
			li
				div(id='list_info') 
					h1 [独家V观]习近平：党政干部要学柳青 接地气
					p 习近平同志19日上午参加党的十九大贵州省代表团讨论。遵义市播州区枫香镇花茂村党总支书记潘克刚回忆了2015年6月16日总书记在花茂村考察时讲到的党的政策好不好，要看乡亲们是哭还是笑。习近平说：“这句话是作家柳青说的，柳青跟老百姓融入一起、打成一片，中央的文件下来了，他都知道房东老大娘是哭还是笑。”党政干部也要学柳青，接地气 。
					a(href='details')阅读全文
			li
				div(id='list_info') 
					h1 [独家V观]习近平：党政干部要学柳青 接地气
					p 习近平同志19日上午参加党的十九大贵州省代表团讨论。遵义市播州区枫香镇花茂村党总支书记潘克刚回忆了2015年6月16日总书记在花茂村考察时讲到的党的政策好不好，要看乡亲们是哭还是笑。习近平说：“这句话是作家柳青说的，柳青跟老百姓融入一起、打成一片，中央的文件下来了，他都知道房东老大娘是哭还是笑。”党政干部也要学柳青，接地气 。
					a(href='details')阅读全文
			li
				div(id='list_info') 
					h1 [独家V观]习近平：党政干部要学柳青 接地气
					p 习近平同志19日上午参加党的十九大贵州省代表团讨论。遵义市播州区枫香镇花茂村党总支书记潘克刚回忆了2015年6月16日总书记在花茂村考察时讲到的党的政策好不好，要看乡亲们是哭还是笑。习近平说：“这句话是作家柳青说的，柳青跟老百姓融入一起、打成一片，中央的文件下来了，他都知道房东老大娘是哭还是笑。”党政干部也要学柳青，接地气 。
					a(href='details')阅读全文
			li
				div(id='list_info') 
					h1 [独家V观]习近平：党政干部要学柳青 接地气
					p 习近平同志19日上午参加党的十九大贵州省代表团讨论。遵义市播州区枫香镇花茂村党总支书记潘克刚回忆了2015年6月16日总书记在花茂村考察时讲到的党的政策好不好，要看乡亲们是哭还是笑。习近平说：“这句话是作家柳青说的，柳青跟老百姓融入一起、打成一片，中央的文件下来了，他都知道房东老大娘是哭还是笑。”党政干部也要学柳青，接地气 。
					a(href='details')阅读全文
			li
				div(id='list_info') 
					h1 [独家V观]习近平：党政干部要学柳青 接地气
					p 习近平同志19日上午参加党的十九大贵州省代表团讨论。遵义市播州区枫香镇花茂村党总支书记潘克刚回忆了2015年6月16日总书记在花茂村考察时讲到的党的政策好不好，要看乡亲们是哭还是笑。习近平说：“这句话是作家柳青说的，柳青跟老百姓融入一起、打成一片，中央的文件下来了，他都知道房东老大娘是哭还是笑。”党政干部也要学柳青，接地气 。
					a(href='details')阅读全文