extends ../layout
block content
	link(href='css/list.css',rel='stylesheet')
	extends ../includes/header
	div(class='main') 
		ul(class='list')
			li(onclick='window.location.href="test"')  
				h1 这是nodeJade测试页面
				span 2017-10-20
			li(onclick='window.location.href="test"') 
				h1 这是nodeJade测试页面
				span 2017-10-20
			li(onclick='window.location.href="test"')  
				h1 这是nodeJade测试页面
				span 2017-10-20
			li(onclick='window.location.href="test"')  
				h1 这是nodeJade测试页面
				span 2017-10-20