extends ../layout
block content
	link(href='css/list.css',rel='stylesheet')
	extends ../includes/header
	div(class='main') 
		ul(class='list')
			li(onclick='window.location.href="details"') 
				h1 [独家V观]习近平：党政干部要学柳青 接地气
				span 2017-10-20
			li(onclick='window.location.href="details"')  
				h1 [独家V观]习近平：党政干部要学柳青 接地气
				span 2017-10-20
			li(onclick='window.location.href="details"')  
				h1 [独家V观]习近平：党政干部要学柳青 接地气
				span 2017-10-20
			li(onclick='window.location.href="details"')  
				h1 [独家V观]习近平：党政干部要学柳青 接地气
				span 2017-10-20
			li(onclick='window.location.href="details"')  
				h1 [独家V观]习近平：党政干部要学柳青 接地气
				span 2017-10-20
			li(onclick='window.location.href="details"')  
				h1 [独家V观]习近平：党政干部要学柳青 接地气
				span 2017-10-20
			li(onclick='window.location.href="details"')  
				h1 [独家V观]习近平：党政干部要学柳青 接地气
				span 2017-10-20
			li(onclick='window.location.href="details"')  
				h1 [独家V观]习近平：党政干部要学柳青 接地气
				span 2017-10-20
			li(onclick='window.location.href="details"')  
				h1 [独家V观]习近平：党政干部要学柳青 接地气
				span 2017-10-20
			li(onclick='window.location.href="details"')  
				h1 [独家V观]习近平：党政干部要学柳青 接地气
				span 2017-10-20
			li(onclick='window.location.href="details"')  
				h1 [独家V观]习近平：党政干部要学柳青 接地气
				span 2017-10-20
			li(onclick='window.location.href="details"')  
				h1 [独家V观]习近平：党政干部要学柳青 接地气
				span 2017-10-20
			li(onclick='window.location.href="details"')  
				h1 [独家V观]习近平：党政干部要学柳青 接地气
				span 2017-10-20
			li(onclick='window.location.href="details"')  
				h1 [独家V观]习近平：党政干部要学柳青 接地气
				span 2017-10-20
			li(onclick='window.location.href="details"')  
				h1 [独家V观]习近平：党政干部要学柳青 接地气
				span 2017-10-20
