extends ../layout
block content
	link(href='css/detail.css',rel='stylesheet')
	extends ../includes/header
	div(class='main') 
		div(class='title')
			h1 这是nodeJade测试页面
			div(class='newsCreateinfo')
				span 
				span 
		p(class='content') 这是nodeJade测试页面